<div class="home_page">
  <%= image_tag("zhongbei_1.png", alt: "ZhongBei HomePage", size: "500x309") %>
  <p>
  黄金分割又称黄金律，是指事物各部分间一定的数学比例关系，即将整体一分为二，较大部分与较小部分之比等于整体与较大部分之比，其比值为1∶0.618或1.618∶1，即长段为全段的0.618。0.618被公认为最具有审美意义的比例数字。上述比例是最能引起人的美感的比例，因此被称为黄金分割
  </p>
</div>
