<div class="home_page">
  <%= image_tag("zhongbei_6.png", alt: "ZhongBei HomePage") %>
  <div>
    <p class="text"> Hello, 我是众多普通的即将毕业的大学生中的一员。我的学校在北方,但让我觉得非常幸运的是里却有非常南方的风景：清新的空气，蔚蓝的天空，安静的村落。更让我欢喜的是有一所完美到让我想搬进去住的图书馆。
    </p>
    <p class="text">
    我是一名Linux爱好者，同时我也偶尔弄一些电子开发。大约在两年前，我开始了Linux学习，并一发而不可收拾。我有十足的好奇心和脑力通过代码来执行我的想法。同时我也喜欢读书，旅行，希望借此能丰富我的知识体系和社会体验。因为在我看来，技术只是手段，互联网是最好的媒介，而能产生力量的是一个人的思想和勇气。
    </p>
  </div>
</div>
