<div id="articles" class="container">
  <div class="offset2">
    <h3>Here are my articles</h3>
    <div>
      <% @articles.each do |article| %>
        <%= link_to article.name, article %>

        <% if logged_in? and current_user.id == 5 %>
          <%= link_to "Destroy", article, method: :DELETE, confirm: 'Are yop sure' %>
          <%= link_to "Edit", edit_article_path(article) %>
        <% end %>
        <br />
      <% end %>
    </div>
  </div>
</div>

