<% set_meta_tags title: resource_class.name %>

<section id="articles" class="container">
  <div class="row marketing">
    <% collection.each do |article| %>
      <div class="col-lg-12">
          <h4><%= link_to article.name, article %></h4>
      </div>
    <% end %>
  </div>
</section>

