<div class="container">
  <% @articles.each do |article| %>
    <%= link_to article.name, article %>
    <% if current_user.id == 1 %>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br />
  <% end %>
</div>

<br />
