body, html {
  margin: 0;
  padding: 0;
}

body {
  font: 16px helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  padding: 0;
  text-align:left;
  color: #333;
  width: 740px;
}
