development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: tidehunter_development
  pool: 5
  username: root
  password:
  # socket: /tmp/mysql.sock for mac
  socket: /var/run/mysqld/mysqld.sock # for Ubuntu

test: &TEST
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: tidehunter_test
  pool: 5
  username: root
  password:
  # socket: /tmp/mysql.sock # for mac
  socket: /var/run/mysqld/mysqld.sock # for Ubuntu

production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: tidehunter
  pool: 20
  username: root
  password:
  socket: /var/run/mysqld/mysqld.sock # for Ubuntu

cucumber:
  <<: *TEST
