// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_index {
  margin-left: 10%;
}

.post_body {
  padding: 0;
  min-height: 20px;
  margin-bottom: 20px;
}

#post_body {
  width: 50%;
  height: 60px;
}

