// Place all the styles related to the tide controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

body {
  font-family: "Microsoft YaHei",微软雅黑,"SimSun",Arial,Lucida Grande,Tahoma,sans-serif;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: 0;
}

#header {
}

.navigation {
  float: left;
  padding-top: 20px;
  li {
    position: relative;
    display: inline;
  }
  a {
    margin-left: 1em;
    color: #233;
    text-decoration: none;
    font: sans-serif;
    font-size: 2em;
  }
  a:hover, a:focus {
    background: #233;
    color: #fff;
  }
}
 
hr {
  margin: 0;
  padding: 0;
}

#main {
  width: 80%;
  margin: 0 10%;
}

.lead {
  font: 3em bold sans-serif ;
  text-align: center;
}

.home_page {
  text-align: center;
    margin: 0 auto;
  p {
    width: 800px;
    margin: 0 auto;
  }
}

