// Place all the styles related to the tide controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

body {
  font-family: "Microsoft YaHei",微软雅黑,"SimSun",Arial,Lucida Grande,Tahoma,sans-serif;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: 0;
}

#header {
  font-size: 2em;
  padding-bottom: 2em;
  h1{
    float: left;
    margin-left: 15%;
    font-family: serif;
  }
}

.navigation {
  float: left;
  padding-top: 20px;
  ul {
    position: absolute;
  }
  li {
    position: relative;
    display: inline;
  }
  a {
    margin-left: 0.5em;
    padding: 0.5em;
    color: #233;
    text-decoration: none;
    font: sans-serif;
  }

  a:hover, a:focus {
    background: #233;
    color: #fff;
  }
}

#main {
  width: 960px;
  text-align: center;
  margin: 0 auto;
}

