// Place all the styles related to the tide controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

$maincolor:  #7B5E28; 
$leftmargin: 10%;

body {

}

#main {
  width: 80%;
  margin: 0 10%;
}

#header {

}

.navigation {
  margin: 2em auto 2em 0;

  li {
    position: relative;
    display: inline;
  }
  a {
    margin-left: 1em;
    color: #233;
    text-decoration: none;
    font-family: cursive;
    font-style: italic;
    font-size: 1.5em;
  }

  .logo {
    font-weight: bolder;
    font-size: 2.1em;
    margin-right: 2em;
    margin-left: $leftmargin;
  }
  a:hover, a:focus {
    background: none;
    color: $maincolor;
  }
}
 

.lead {
  font: 2em bold sans-serif ;
}

@mixin text {
    letter-spacing: 1px;
    text-align: justify;
    text-indent: 2em;
    line-height: 180%;
}

.maintext {
  @include text;
  font-variant: normal;
  text-transform: none;
}

.article-body {
  width: 60%;
  margin: 5em auto 1em auto;
  text-align: center;
  p {
    font-size: 15px;
    @include text;
  }
}


.home_page {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  
  img {
    margin: 2em auto;
  }
  p {
    font-family: monospace sans-serif fantasy cursive;
    font-size: 1em;
    @include text;
  }
}
