<div id="header">
  <a href="#" class="logo-wordmark">Tide</a>

  <ul class="top-nav">
    <li> <a href="/posts">Posts</a> </li>
    <li> <a href="/articles">Articles</a> </li>
    <li> <a href="/articles">Articles</a> </li>
  </ul>

  <div class="header-action">
    <a href="/login" class="button">Login</a>
  </div>
</div>
