<div class="container">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="<%= articles_path %>">Articles</a></li>
    </ul>
    <h3 class="text-muted"><a href="<%= root_path %>">tidehunter</a></h3>
    <%= render 'layouts/messages' %>
</div>
