<div id="header">
  <h1>TideHunter</h1>
  <ul class="navigation">
    <li> <a href="/">Home</a> </li>
    <li> <a href="/articles">Articles</a> </li>
    <li> <a href="/articles">少年游</a> </li>
    <li> <a href="/posts">Posts</a> </li>
    <% if logged_in? %>
      <li> <%= link_to "Logout", "/logout" %> </li>
    <% else %>
      <li> <a href="/login" class="">Login</a></li>
    <% end %>
  </ul>
</div>
<hr />
