<div id="header" class="navbar">
  <a href="/" class="Homemark">TideHunter</a>
  <ul class="nav">
    <li> <a href="/posts">Posts</a> </li>
    <li> <a href="/articles">Articles</a> </li>
    <li> <a href="/articles">Articles</a> </li>
    <li> <a href="/articles">少年游</a> </li>
    <li> <a href="/login" class="button">Login</a></li>
  </ul>
</div>
